@import "fonts.scss";

* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    background-color: transparent;
}

.menubar {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    -webkit-app-region: drag;
}

.container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #e7e7e7;
    overflow: hidden;
}

.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backupText {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #b9b9b9;
    text-align: center;
    user-select: none;
}

img {
    position: relative;
    z-index: 1;
    user-select: none;
    width: 100%;
}

.modal {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1em;
}

.logo {
    width: 40px;
    margin-bottom: 32px;
}

.label {
    display: block;
    font-weight: lighter;
    color: #6d6c6c;
    margin-bottom: 4px;
}

.version {
    font-weight: bold;
    color: #242424;
}

.heading {
    font-size: 24px;
    color: #1a1a1a;
    margin-bottom: 8px;
}

.text {
    font-size: 14px;
    color: #2b2b2b;
    line-height: 1.6em;
    margin-bottom: 24px;
}

.copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 1em;
    font-size: 12px;
    color: #616161;
}

.table {
    text-align: left;
    padding: 1em;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.about {
    display: none;
}